::before
  margin-right 5px

// .btn
//   color #fff
//   &.btn-default
//     background-color #2bbbad
//   &.btn-primary
//     background-color #4285f4
//   &.btn-secondary
//     background-color #a6c
//   &.btn-success
//     background-color #00c851
//   &.btn-info
//     background-color #33b5e5
//   &.btn-warning
//     background-color #fb3
//   &.btn-danger
//     background-color #ff3547



