template
  require(from="../components/bs-tabs")
  p testing components for dev
  bs-tabs
    tab(header="Paramètres")
      p page 1
    tab(header="toto")
      p page 2
    tab(header="titi")
      p page 3



  bs-tabs
    tab(header="Paramètres")
      p page 1
    tab(header="toto")
      p page 2
    tab(header="titi")
      p page 3


  bs-tabs
    tab(header="Paramètres")
      p page 1
    tab(header="toto")
      p page 2
    tab(header="titi")
      p page 3
