doctype html
html(lang='fr')
  head
    meta(charset="utf-8")
    //- title= metadata.title
    //- meta(name='viewport' content='width=device-width, user-scalable=no')

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="eportfolio Camille Moutte")
    meta(name="viewport" content="width=device-width, initial-scale=1")


    //- //- base(href='<%- htmlWebpackPlugin.options.metadata.baseUrl %>')
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://unpkg.com/material-components-web/dist/material-components-web.min.css")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")


    link(rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css")
    link(href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    //- link(rel="stylesheet" type="text/css" href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css")
    script(src="https://kit.fontawesome.com/ec974094f7.js" crossorigin="anonymous")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    

    //- script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
    //- script(src="./js/jquery-3.2.1.min.js")
    //- script(src="./plugins/scrollmagic/ScrollMagic.min.js")
    //- script(src="./plugins/progressbar/progressbar.js")
    //- script(src="./js/custom.js")
    script(src="https://cdn.rawgit.com/jdanyow/aurelia-bundle/v1.0.3/jspm_packages/system.js")
    script(src="https://cdn.rawgit.com/jdanyow/aurelia-bundle/v1.0.3/config.js")
    //-script System.import('aurelia-bootstrapper')


  body(aurelia-app='main')



