bs-tabs, .bs-tabs
  display block

  nav>div.nav.nav-tabs
    margin-bottom 0

  &>div.card
    border-top 0
    border-top-left-radius 0
    border-top-right-radius 0
    margin-top 0

  &.card>.card-body>div
  &>select
    display inline-block
    margin-bottom 10px

  &>p
    display inline-block
    margin-right 10px

// .nav-tabs .nav-link
//   border 1px solid transparent
//       border-top-color transparent
//       border-right-color transparent
//       border-bottom-color transparent
//       border-left-color transparent
//   border-top-left-radius .25rem
//   border-top-right-radius .25rem

// .nav-link
//   display block
//   padding .5rem 1rem

// a.nav-link.active
//   color #495057
//   background-color #fff
//   border-color #dee2e6 #dee2e6 #fff

// a
//   text-decoration none
//   background-color transparent
