template
  //- a(href="#presentation") haut de page
  .page-section-pair(id="intro")
    img.img-circle.mx-auto.d-block(srcset="./static/images/camille.jpg")
    h2.pt-5
      .line-1.anim-typewriter ${ 'hello' | t: {'name': 'Camille Moutte', 'job' : 'développeuse'}}
  
  .page-section-impair.text-center(id="resume")
    h1.pb-5 ${'short_story' | t}
    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fa.fa-code(style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 Langages
          br
          h3 JavaScript, Java EE, PHP, HTML/CSS, C#, Python, Ocaml.
          
    
    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fa.fa-database(aria-hidden="true" style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 Base de données
          h3 SQL, NoSql
          h1 Moteur de recherche
          h3 ElasticSearch, Algolia
    
    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fa.fa-codepen(style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 Framework
          h3 Pug/Stylus, Struts2, Aurelia, HapiJs, NodeJs
          h1 Environnement 
          h3 NodeJs

    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fas.fa-code-branch(style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 Gestion de version / Software versionning
          h3 github and mercurial

    br
    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fa.fa-server(style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 Serveurs
          h3 Java : Tomcat, Glassfish

    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fas.fa-project-diagram(aria-hidden="true" style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 Gestion de projet
          h3 agile
          h1 Bonne compréhension des diagrammes UML

    .flip-card
      .flip-card-inner
        .flip-card-front.mx-auto(style="margin:auto")
          i.fa.fa-desktop(aria-hidden="true" style="font-size: 60px; texte-align : center;")
        .flip-card-back
          h1 OS
          h3 Linux, Windows, Mac Os
  .page-section-pair(id="presentation")
    h1.text-center.pt-5 ${ 'presentation' | t }
    h3 Mes Objectifs
    p Développeuse de niveau intermédiaire en JavaScript et architecture logiciel, passionnée et prête à s'investir pour
      
  .page-section-impair(id="")
    h1.text-center.pt-5 Mes expériences
    //- Présentation/short story about me, Latest Project works/
  
  .page-section-impair(id="")
    h1.text-center.pt-5 Mes formations / schools



  .page-section-impair(id="")
    h1.text-center.pt-5 Mes Softskills / Mes savoirs être


  .page-section-impair(id="")
    h1.text-center.pt-5 Mes Loisirs / Mes Hobbies

  .page-section-impair(id="")
    h1.text-center.pt-5 Me contacter
       