template
	.general_info.d-flex.flex-xl-column.flex-md-row.flex-column
		div
			.general_info_image
				.background_image(style="background-image:url(images/camille.jpg)")
				.d-flex.flex-row.align-items-center.justify-content-start(style="background-color: #ff0266; padding: 15px; position: absolute; bottom: 0px; right: 0px; left: 0px;")
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fas.fa-download(style="color: white")
							.general_info_text
								a(href="files/curriculum_vitae_MOUTTE.pdf" style="color: white") curriculum vitae 
			.general_info_content
				.general_info_content_inner.mCustomScrollbar(data-mcs-theme="minimal-dark")
					.general_info_title Informations Générales
					ul.general_info_list
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fas.fa-user-alt
							.general_info_text Nom: 
								span Camille Moutte
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fas.fa-map-marker-alt
							.general_info_text Localisation: 
								span Paris
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fas.fa-birthday-cake
							.general_info_text Année de naissance: 
								span 1996
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.far.fa-envelope
							.general_info_text
								a(href="mailto:contact@camille-moutte.fr?subject=Eportfolio") camille.moutte@efrei.net
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fas.fa-phone-alt
							.general_info_text +33 698 84 41 94
						//- li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fas.fa-at
							.general_info_text
								a(href="mailto:contact@linque.com") www.camille-moutte.fr
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fab.fa-linkedin
							.general_info_text
								a(href="https://www.linkedin.com/in/camille-moutte/") Camille Moutte
						li.d-flex.flex-row.align-items-center.justify-content-start
							.general_info_icon.d-flex.flex-column.align-items-start.justify-content-center
								i.fab.fa-github
							.general_info_text
								a(href="https://github.com/quokkaquokka") quokkaquokka