doctype html
html(lang='fr')
  head
    meta(charset="utf-8")
    //- title= metadata.title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    //- //- base(href='<%- htmlWebpackPlugin.options.metadata.baseUrl %>')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://unpkg.com/material-components-web/dist/material-components-web.min.css")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://kit.fontawesome.com/ec974094f7.js" crossorigin="anonymous")
  body(aurelia-app='main')
